<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct();
?>
<?php $buttonTitle = __('Add to Cart'); ?>
<?php if ($_product->isSaleable()) :?>
<div class="box-tocart">
    <div class="fieldset">
        <?php if ($block->shouldRenderQuantity()) :?>
        <div class="field qty">
            <label class="label" for="qty"><span><?= $block->escapeHtml(__('Qty')) ?></span></label>
            <div class="control" data-bind="scope: 'qty_change'">

                <script type="text/x-magento-init">
                {
                   "*": {
                           "Magento_Ui/js/core/app": {
                               "components": {
                                   "qty_change": {
                                       "component": "Kowal_QtyIncrementDecrementButton/js/view/product/view/qty_change",
                                       "defaultQty": <?php echo $block->getProductDefaultQty() * 1 ?>,
                                       "QtyIncrements": <?php echo $block->getProductDefaultQty() * 1 ?>
                                   }
                               }
                           }
                   }
                }
                </script>

                <button class="btn-qty-increments decrease" data-bind="click: decreaseQty">-</button>
                <input data-bind="value: qty()"
                   type="number"
                   name="qty"
                   id="qty"
                   min="0"
                   value="<?= $block->getProductDefaultQty() * 1 ?>"
                   title="<?= $block->escapeHtmlAttr(__('Qty')) ?>"
                   class="input-text qty"
                   data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                   />
                <button class="btn-qty-increments increase" data-bind="click: increaseQty">+</button>


            </div>
        </div>
        <?php endif; ?>
        <div class="actions">
            <button type="submit"
                    title="<?= $block->escapeHtmlAttr($buttonTitle) ?>"
                    class="action primary tocart"
                    id="product-addtocart-button" disabled>
                <span><?= $block->escapeHtml($buttonTitle) ?></span>
            </button>
            <?= $block->getChildHtml('', true) ?>
        </div>
    </div>
</div>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {}
        }
    }
</script>
